<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.donghwan.phonecalulator">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="폰요금계산기"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>


        <activity android:name="com.donghwan.phonecalulator.Used"/>
        <activity android:name="com.donghwan.phonecalulator.Optional_Agreement" />
        <activity android:name="com.donghwan.phonecalulator.Support_Fund" />
        <activity android:name="com.donghwan.phonecalulator.Knowledge" />
        <activity android:name="com.donghwan.phonecalulator.MainActivity">
        </activity>
        <activity android:name="com.donghwan.phonecalulator.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>